.nav-icon{
    background-color: white;
    width: 4.7rem;
    height: 4.7rem;
    border-radius: 50%;
    font-size: 2.5rem;
    color: $color-primary-dark;
    position: relative;

 


    &__icon{
        position: absolute;
        top: 50%;
        left: 50%;
        // font-size: 20px;
        transform: translate(-50%, -50%);
    }
}

.notification{
    background-color: red;
    position: absolute;
    top: 10%;
    padding: 2px 7px;
    border-radius: 50%;
    transform: translate(-50%, -30%);
    left: 100%;

    .count{
        color: white;
        font-weight: bold;
        font-size: 14px;
    }
}