.friends__list{
    @include defaultPadding;
    display: grid;
    justify-content: center;
    min-height: 80vh;
    grid-template-columns:  repeat(auto-fill, minmax(360px, ));
    column-gap: 2%;
    row-gap: 3rem;

    @include response-website(phone) {
        width: 100vw;
        grid-template-columns: 50%;
        column-gap: 5%;
        height: 40vh;
    }

    @include response-website(tab-port) {
        grid-template-columns: repeat(2, 40%);
        height: 40vh;



    }

    @include response-website(tab-land) {
        grid-template-columns: repeat(2, 40%);
        height: 40vh;

    }

    

}

