.friends__list{
    @include defaultPadding;
    display: grid;
    justify-content: center;
    height: 60vh;
    grid-template-columns:  repeat(3, 30%);
    column-gap: 2%;

    @include response-website(phone) {
        width: 100vw;
        grid-template-columns: repeat(2, 40%);
        column-gap: 5%;
        height: 40vh;
    }

    @include response-website(tab-port) {
        grid-template-columns: repeat(2, 45%);
        height: 40vh;



    }

    @include response-website(tab-land) {
                height: 40vh;

    }

    

}

