.world-news {
    @include defaultPadding;
    width: 100vw;
    display: grid;
    justify-content: center;
    text-align: center;
    height: 60vh;
    grid-template-columns: repeat(3, 30%);
    row-gap: 10%;
    column-gap: 2%;

    @include response-website(phone) {
        grid-template-columns: repeat(2, max-content);
        margin: 0 auto;
        width: 90vw;
    }

    @include response-website(tab-port) {
        width: 100vw;
  
        
    }
    .card{
            height: 90vh;
        @include response-website(phone) {
            width: 45vw;
            height: 60vh;

        }
        
    }


}