*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 50.5%;

    @include response-website(phone) {
      font-size: 50%;
    }
    @include response-website(tab-port) { 
        font-size: 56%;
    }
    @include response-website(tab-land) { 
        font-size: 45%;
    }
    @include response-website(big-desktop) {
        font-size: 75%;
    }

}

body{
    color: black;
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(223, 222, 222);
}