.header-primary{

}

.header-secondary{
    font-size: 2.7rem;
    font-weight: bolder;
    text-transform: uppercase;

    @include response-website(phone) {
        font-size: 2.1rem;
    }

    @include response-website(tab-port) {
        font-size: 2.2rem;
    }

    @include response-website(tab-land) {
        

    }

}

.header-tertiary{
    font-size: 2rem;

     @include response-website(phone) {
         font-size: 1.5rem;
     }

     @include response-website(tab-port) {
         font-size: 1.6rem;
     }

     @include response-website(tab-land) {}
}

.paragraph{
    font-size: 1.5rem;
}